<div class="espaco">
    <!--Carousel-->
    <div class="carrossel w-100">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a routerLink="/produtos"><img src="../../assets/banner-exomaker.png" class="d-block w-100"
                            alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a routerLink="/produtos"><img src="../../assets/banner-exomaker-2.png" class="d-block w-100"
                            alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a routerLink="/produtos"><img src="../../assets/banner-exomaker-3.png" class="d-block w-100"
                            alt="..."></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--Fim do Carousel-->

    <!--Cards sobre carousel-->
    <div class="mt-5 d-flex justify-content-center flex-wrap">
        <div class="" *ngFor="let produto of listaProdutosPrincipal">
            <div class="card fundo-card1">
                <img src="{{produto.imagem}}" class="card-img-top" alt="Imagem {{produto.nomeProduto}}">
                <div class="card-body">
                    <p class="card-text text-white">{{produto.nomeProduto}}</p>
                    <p class="card-text text-white">R$ {{produto.preco}}</p>
                    <a [routerLink]="['/item',produto.id]" class="btn btn-outline-light w-100"
                        style="border-radius: 10px;">Saiba
                        mais</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="letra-produto text-center w-100 mt-5">PRODUTOS EM DESTAQUE</h2>

    <!--Cards produtos em destaque-->
    <div class="mt-5 mb-5 d-flex justify-content-center flex-wrap">
        <div class="" *ngFor="let produto of listaProdutos">
            <div class="card card-produto">
                <img src="{{produto.imagem}}" class="card-img-top" alt="{{produto.nomeProduto}}">
                <div class="card-body">
                    <p class="card-text text-center letra-produto">{{produto.nomeProduto}}</p>
                    <p class="card-text text-center letra-produto">R${{produto.preco}}</p>
                    <a routerLink="/loja" class="btn btn-cor w-100 text-white"
                        [routerLink]="['/item',produto.id]">Comprar</a>
                </div>
            </div>
        </div>
    </div>

    <!--Banner suporte-->
    <div class="fundo-suporte mb-5 d-flex justify-content-center flex-wrap">

        <div class="card-suporte">
            <h4 class="text-white mt-4">SUPORTE PARA CACHORRO</h4>
            <p class="text-white mt-3">simply dummy text of the printing and typesetting industry been the industry's
                standard
                dummy text ever since the 1500s, when an unknown printer took.</p>
            <a routerLink="/produtos" class="btn btn-outline-light w-100 mt-2" style="border-radius: 10px;">Comprar</a>
        </div>
        <div>
            <img class="dog" src="./assets/cachorro-home.png" alt="Imagem cachorro com suporte">
        </div>
    </div>
    <!--Fim banner suporte-->

    <!--Cards icones-->

    <div class="container mb-5 d-flex justify-content-center flex-wrap">

        <div class="col-md-4">
            <div class="card card-icone">
                <img src="../../assets/wheelchair.svg" class="card-img-top rounded mx-auto d-block mt-4"
                    style="width: 23%;" alt="Icone cadeira de rodas">
                <div class="card-body">
                    <h4 class="card-text text-center letra-produto">Dezenas de produtos para acessibilidade</h4>
                    <p class="card-text text-center letra-produto">A ExoMaker tem diversos tipos de produtos para
                        melhorar cada vez mais o seu dia- a-dia</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-icone">
                <img src="../../assets/hello.svg" class="card-img-top rounded mx-auto d-block mt-4" style="width: 23%;"
                    alt="Icone cadeira de rodas">
                <div class="card-body">
                    <h4 class="card-text text-center letra-produto">Plataforma com Acessibilidade</h4>
                    <p class="card-text text-center letra-produto">Temos uma plataforma acessível em libras, basta
                        ativar no lado direito da tela</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-icone">
                <img src="../../assets/wrench.svg" class="card-img-top rounded mx-auto d-block mt-4" style="width: 32%;"
                    alt="Icone cadeira de rodas">
                <div class="card-body">
                    <h4 class="card-text text-center letra-produto">Garantia nos Produtos</h4>
                    <p class="card-text text-center letra-produto">Nós garantimos 1 ano de suporte em todos os produtos
                        fornecidos na plataforma</p>
                </div>
            </div>
        </div>

    </div>
</div>