.espaco{
    margin-top: 140px;
}

.carrossel{
    background: transparent linear-gradient(270deg, #3E4896 0%, #697AFF 100%) 0% 0% no-repeat padding-box;
    height: 430px;
}

.fundo-card1{
    background: #3E4896 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    border-radius: 30px;
    opacity: 1;
    width: 18rem;
    margin-top: -200px
}

.fundo-card2{
    background: #697AFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    border-radius: 30px;
    opacity: 1;
    width: 18rem; 
    margin-top: -200px
}

.letra-produto{
    font: Regular 70px/85px Roboto;
    letter-spacing: 0px;
    color: #353F80;
    opacity: 1;
}

.btn-cor{
    background: #3E4896 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.btn-cor:hover{
    color: #3e4896 !important;
    background-color: transparent;
    background-image: none;
    border-color: #3e4896;
}

.card-produto{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.box{

    width: 100%;
    align-items: center;
}
.fim{   
    display: none;
}

.fundo-suporte{
    background: transparent linear-gradient(270deg, #3E4896 0%, #697AFF 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    max-height: 290px;
}

.card-icone{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 20rem;
}

.card-icone:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 5px 10px 13px #04077357;
}

/*Margin para centralizar row*/
.margem-produtos{
    margin-left:2%;
}

/**/
@media screen and (max-width: 1200px){
    .card-icone{
        width: 18rem;
    }

    .margem-produtos{
        margin-left: -1%;
    }
}

@media screen and (max-width: 992px){
    .fundo-card1{
        width: 14rem;
    }

    .fundo-card2{
        width: 14rem;
    }

    .p-37{
        margin-top: 37px;
    }

    .p-18{
        margin-top:18px;
    }

    .card-icone{
        width: 14rem;
    }

    .margem-produtos{
        margin-left: -3%;
    }
}

@media screen and (max-width: 767px){

        .fundo-card1{
            width: 30rem;
            margin-top: 20px;
            margin-left: 15px;
        }

        .fundo-card2{
            width: 30rem;
            margin-top: 20px;
            margin-left: 15px;
        }
        .card-produto{
            margin-bottom: 40px;
        }

        .card-icone{
            margin-bottom: 20px;
            width: 31rem;
        }

        .img-cachorro{
            display: none;
        }

        .box{
            text-align: center;
        }

        .button{
            margin-left: 15px;
        }
}

@media screen and (max-width: 426px){
    .espaco{
        margin-top:0;
    }

    .fundo-card1{
        width: 22rem;
    }

    .fundo-card2{
        width: 22rem;
    }

    .card-icone{
        margin-bottom: 20px;
        width: 24rem;
        margin-left: 5px;
    }

    .p-marginleft{
        margin-left: 20px;
    }

    .title-left{
        margin-left: 20px;
    }
}

@media screen and (max-width: 376px){
    .espaco{
        margin-top:0;
    }

    .fundo-card1{
        width: 19rem;
    }

    .fundo-card2{
        width: 19rem;
    }

    .card-icone{
        margin-bottom: 20px;
        width: 21rem;
        margin-left: 5px;
    }
}

@media screen and (max-width: 321px){
    
    .espaco{
        margin-top: 0;
    }

    .fundo-card1{
        width: 16rem;
    }

    .fundo-card2{
        width: 16rem;
    }

    .card-icone{
        margin-bottom: 20px;
        width: 17rem;
        margin-left: 5px;
    }
}