<footer>
    <div>
        <a href="#home"><img src="../../assets/exo-maker-reduzida-branco_Prancheta 1.svg" alt="logo" id="logofoot"></a>
        <div>
            <ul>
                <li><a routerLink="/faq" class="faq text-white">Perguntas Frequentes</a></li>
                <li><a routerLink="/politicas" class="privacidade text-white">Politica de Privacidade</a></li>
                <li class="adm" *ngIf="adm"><a data-toggle="modal" data-target="#myModal" class="text-white">Administrar</a></li>
            </ul>
            <div>
                <a href="#" class="icoInstagram hover" title="Instagram">
                    <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3 "></fa-icon>
                </a>
                <a href="#" class="icoLinkedin hover" title="Linkedin">
                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3 "></fa-icon>
                </a>
                <a href="#" class="icoFacebook hover" title="Facebook">
                    <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3 "></fa-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="footer">
    <div class="footer-boottom"> 
       <p>&copy; exomaker.com.br | 2020</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Administrar</h3>
            </div>
            <div class="modal-body">
                <button routerLink='/control-produtos' type="submit" class="btn btn-info p-3 m-1"> Produtos </button>
                <button routerLink='/users' type="button" class="btn btn-primary p-3 m-1">Usuarios</button>
                <button routerLink='/contato-mensagem' type="button" class="btn btn-warning p-3 m-1">Contatos</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info button" data-dismiss="modal"
                    data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>