<div class="titulo">
    <h1 class="d-flex justify-content-center pt-5">Lista de usuários</h1>
    <hr>
</div>

<div class="container d-flex">
    <input type="text" name="titulo" id="titulo" class="form-control mb-3 borda" placeholder="buscar por nome"
        [(ngModel)]="nome">
    <button class="btn btn-success ml-3 buscar" (click)=findNome()>buscar</button>
</div>

<div class="mb-5 d-flex justify-content-center flex-wrap container">

    <div class="user-box" *ngFor="let users of listaUsers | paginate: { itemsPerPage: 10, currentPage: p}">
        <div class="d-flex align-items-center">
            <p class="id d-flex justify-content-conter align-items-center">{{users.user_id}}</p>
            <h5 class="ml-3">{{users.usuario}}</h5>
        </div>
        <hr>
        <p>Nome: {{users.nome}}</p>
        <p>Email: {{users.email}}</p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-info" [routerLink]="['/edit-user', users.user_id]">Editar</button>
            <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-user', users.user_id]">Excluir</button>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mb-3">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próxima">
    </pagination-controls>
</div>