<!-- <div class="container d-flex flex-wrap mt-5 pt-5 produtos">
    <div class="card mb-5 mr-4 m-3 box" style="width: 14rem;">
        <div class="card-body">
            <img class="card-img-top" style="height: 180px" src="{{produto.imagem}}" alt="Imagem do produto">
            <hr>
            <h4 class="card-title text-center cor-texto">{{produto.nomeProduto}}</h4> -->
<!-- <p class="card-text">Codigo: {{produto.id}}</p> -->
<!-- <h5 class="card-text text-center cor-texto">R${{produto.preco}}</h5>
            <span class="card-text text-center">{{produto.descricao}}</span>
        </div>
    </div>
</div> -->
<div class="container espaco mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header titulo text-center">Lorem Ipsum
                <!--{{produto.nomeProduto}} -->
            </h1>
        </div>
    </div>
    <div class=" row">
        <div class="col-lg-6 mb-4">
            <div class="bg-produto">
                <div class="produto">
                    <img src="{{produto.imagem}}" alt="Imagem Produto" class="img-fluid">
                    <!--{{produto.imagem}} -->
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="form-group row">
                <h1 class="nome-produto mb-3">{{produto.nomeProduto}}</h1>
            </div>
            <hr>
            <div class="form-group row descricao">
                <p>
                    {{produto.descricaoCompleta}}
                </p>
            </div>
            <hr>
            <h3 class="product-form-price mb-4" id="product-form-price">R${{produto.preco}}</h3>
            <div class="form-group row">
                <label for="Quantity" class="col-sm-3 col-md-3 form-control-label">
                    <h5 class="product-form-price">Quantidade:</h5>
                </label>
                <div class="col-sm-8 col-md-9">

                    <input type="number" class="qty form-control borda" id="input-qty" name="qty" maxlength="5"
                        value="1">
                </div>
            </div>
            <div class="form-group product-stock product-out-stock row hidden">
                <label class="col-sm-3 col-md-3 form-control-label">
                    <h5 class="product-form-price">Tamanho:</h5>
                </label>
                <div class="col-sm-8 col-md-9">
                    <h5 class="product-form-price">Tamanho Padrão</h5>
                    <p>Para solicitar um tamanho especifico de produto entre em contato conosco.</p>
                    <a routerLink="/contato" class="btn btn-secondary btn-sm" title="Contato">CONTATO</a>
                </div>
            </div>
            <div class="row visible">
                <label class="col-sm-3 col-md-3 form-control-label"></label>
                <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3">
                    <button ttype="submit" class="adc btn btn-primary botao" data-toggle="modal"
                        data-target="#myModal">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Item comprado com sucesso!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info button" data-dismiss="modal"
                    routerLink='/produtos'>Voltar as compras</button>
            </div>
        </div>

    </div>
</div>